.container section {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 48px;
}

.btn_green {
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #5FCF80;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Gotham;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    margin-right: 10px;
    background-color: #5FCF80;
}

.btn_red {
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #ED5A5A;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Gotham;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    background-color: #ED5A5A;
}

.btn_blue {
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #3F8ABF;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Gotham;
    line-height: 12px;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    margin-left: 10px;
    background-color: #3F8ABF;
}

.images {
    margin: 10 auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.images img {
    border-radius: 80px;
    max-width: 50%;
    height: auto;
    width: auto;
}