.container section {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 48px;
}

.content {
    margin: 0 auto;
    margin-top: 48px;
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
}

.artists {
    flex: 1;
}

.artistsList {
    height: 260px;
    overflow-y: scroll;
    flex: 1;
    position: relative;
}

.artists input {
    margin-bottom: 24px;
    padding: 6px;
    padding-top: 8px;
    width: 220px;
    height: 40px;
    line-height: 40px;
}

.artists input::placeholder {
    line-height: 40px;
}

.artists li {
    cursor: pointer;
}

.artists li:hover {
    font-weight: bold;
}

.selectedArtist {
    flex: 1;
}

.space {
    height: 80px;
}

.btn_green {
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #5FCF80;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Gotham;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    margin-right: 10px;
    background-color: #5FCF80;
}

.btn_white {
    color: darkslategrey;
    opacity: 0.6;
    border-radius: 6px;
    border-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Gotham;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.happinessRating {
    display: flex;
    flex-direction: row;
}

.pop, .rap {
    flex: 1;
    height: 128px;
    line-height: 136px;
    text-align: center;
    position: relative;
}

.pop span, .rap span {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
    z-index: 100;
}

.pop {
    margin-right: 16px;
}

.pop img, .rap img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    overflow: hidden;
    opacity: 0.5;
}