.container {
}

.content {
    margin: 0 auto;
    margin-top: 48px;
    max-width: 800px;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
}

.artists {
    flex: 1;
}

.artistsList {
    max-height: 260px;
    overflow-y: scroll;
    flex: 1;
}

.artists input {
    margin-bottom: 16px;
    padding: 6px;
}

.artists li {
    cursor: pointer;
}

.artists li:hover {
    font-weight: bold;
}

.selectedArtist {
    flex: 1;
}

.btn_green {
    color: #FFFFFF;
    border-radius: 6px;
    border-color: #5FCF80;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 10px;
    margin-right: 10px;
    background-color: #5FCF80;
}

.btn_white {
    color: darkslategrey;
    opacity: 0.6;
    border-radius: 6px;
    border-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 8px 20px 8px;
    font-size: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}