.container img {
    display: block;
    margin: 0 auto;
}

.container section {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 48px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
    margin-bottom: 80px;
}

.selectedArtist {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    min-height: 200px;
    background-color: #d4d3d3d9;
    border-top-left-radius: 16px;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    color: #3a3a3a;
    text-align: left;
    font-size: 14px;
}

.selectedArtist p {
    line-height: 16px;
}

.legend {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d4d3d3d9;
    border-top-right-radius: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    color: #3a3a3a;
    text-align: left;
    font-size: 14px;
    pointer-events: none;
}

.legendGenre p {
    margin: 0;
    padding: 0;
}

.legendGenreColor {
    width: 24px;
    height: 8px;
    display: inline-block;
}

.container h3 { 
    margin-bottom: 32px;
    margin-top: 32px;
}

.spaceSmall {
    height: 16px;
}

.spaceMedium {
    height: 48px;
}

.space {
    height: 80px;
}

.genreColor {
    display: inline-block;
    width: 24px;
    height: 8px;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: baseline;
}