.image_distribution {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.image_btns {
    width: 800px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.image_btns h2 {
    margin-top: 8px;
}

.btn_image {
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 80px;
    width: 160px;
    height: 160px;
}

.btn_image:hover {
    opacity: 0.75 !important;
}

.artists {
    padding: 20px 20px;
}

.container section {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 48px;
}