.app {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.app ul {
  font-family: GothamLight;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app ul li {
  line-height: 24px;
}

.introduction {
  margin-top: 64px;
}

:global .sigma-edges, :global .sigma-nodes, :global .sigma-labels, :global .sigma-mouse, :global .sigma-scene {
  left: 0
}

.introduction, .artistsByGenres, .relatedArtists, .tf_tr, .dataSets {
  margin-bottom: 64px;
}